<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1>Access Denied</h1>
<script>
	var client_id = "<%= client_id %>";
	var authorization_url = "<%= authorization_url %>";
	var redirect_uri = "<%= redirect_uri %>";
</script>
</body>
</html>